.Ingredients ul li.Ingredient {
  width: 20%;
  padding: 20% 0 0 0; }

.SelectedIngredients ul li.Ingredient {
  width: 50%;
  padding: 50% 0 0 0; }

.Ingredients,
.SelectedIngredients {
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 5px;
  margin: 0 0 20px 0;
  padding: 10px; }
  .Ingredients h2,
  .SelectedIngredients h2 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 10px 0; }
  .Ingredients ul,
  .SelectedIngredients ul {
    display: flex;
    flex-direction: row;
    list-style: none; }
    .Ingredients ul li.Ingredient,
    .SelectedIngredients ul li.Ingredient {
      position: relative;
      color: #fff;
      cursor: pointer; }
      .Ingredients ul li.Ingredient div,
      .SelectedIngredients ul li.Ingredient div {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px; }
        .Ingredients ul li.Ingredient div span,
        .SelectedIngredients ul li.Ingredient div span {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-align: center;
          border-radius: 4px;
          padding: 10px 0; }
          .Ingredients ul li.Ingredient div span img,
          .SelectedIngredients ul li.Ingredient div span img {
            position: relative;
            width: 75%;
            height: auto;
            margin: 0 0 5px 0; }
          .Ingredients ul li.Ingredient div span p,
          .SelectedIngredients ul li.Ingredient div span p {
            font-size: 14px; }
            .Ingredients ul li.Ingredient div span p.description,
            .SelectedIngredients ul li.Ingredient div span p.description {
              transition: .25s;
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              max-width: 100px;
              color: #fff;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 12px; }
      .Ingredients ul li.Ingredient:hover div span img,
      .SelectedIngredients ul li.Ingredient:hover div span img {
        animation: bounce 1s ease-in-out infinite; }
      .Ingredients ul li.Ingredient:hover div span p.description,
      .SelectedIngredients ul li.Ingredient:hover div span p.description {
        transition: .25s ease-in;
        opacity: 1;
        top: -10px; }
      .Ingredients ul li.Ingredient.mask div span,
      .SelectedIngredients ul li.Ingredient.mask div span {
        background-color: #1eff9e; }
      .Ingredients ul li.Ingredient.kitty div span,
      .SelectedIngredients ul li.Ingredient.kitty div span {
        background-color: #ff363f; }
      .Ingredients ul li.Ingredient.feathers div span,
      .SelectedIngredients ul li.Ingredient.feathers div span {
        background-color: #b70a41; }
      .Ingredients ul li.Ingredient.statue div span,
      .SelectedIngredients ul li.Ingredient.statue div span {
        background-color: #90f4ff; }
      .Ingredients ul li.Ingredient.harp div span,
      .SelectedIngredients ul li.Ingredient.harp div span {
        background-color: #caff52; }
      .Ingredients ul li.Ingredient.pyramid div span,
      .SelectedIngredients ul li.Ingredient.pyramid div span {
        background-color: #ff4833; }
      .Ingredients ul li.Ingredient.palm-frond div span,
      .SelectedIngredients ul li.Ingredient.palm-frond div span {
        background-color: #a9ff18; }
      .Ingredients ul li.Ingredient.potion-1 div span,
      .SelectedIngredients ul li.Ingredient.potion-1 div span {
        background-color: #ff378b; }
      .Ingredients ul li.Ingredient.egg div span,
      .SelectedIngredients ul li.Ingredient.egg div span {
        background-color: #3f88ff; }
      .Ingredients ul li.Ingredient.diamond div span,
      .SelectedIngredients ul li.Ingredient.diamond div span {
        background-color: #cca6ff; }
      .Ingredients ul li.Ingredient.mirror div span,
      .SelectedIngredients ul li.Ingredient.mirror div span {
        background-color: #28f0ff; }
      .Ingredients ul li.Ingredient.crystals div span,
      .SelectedIngredients ul li.Ingredient.crystals div span {
        background-color: #eb0fff; }
      .Ingredients ul li.Ingredient.hour-glass div span,
      .SelectedIngredients ul li.Ingredient.hour-glass div span {
        background-color: #ffa3f9; }
      .Ingredients ul li.Ingredient.pineapple div span,
      .SelectedIngredients ul li.Ingredient.pineapple div span {
        background-color: #fde400; }
      .Ingredients ul li.Ingredient.wheel div span,
      .SelectedIngredients ul li.Ingredient.wheel div span {
        background-color: #fde400; }
      .Ingredients ul li.Ingredient.potion-2 div span,
      .SelectedIngredients ul li.Ingredient.potion-2 div span {
        background-color: #ff9703; }
      .Ingredients ul li.Ingredient.glasses div span,
      .SelectedIngredients ul li.Ingredient.glasses div span {
        background-color: #71e439; }
      .Ingredients ul li.Ingredient.bacon div span,
      .SelectedIngredients ul li.Ingredient.bacon div span {
        background-color: #00eca1; }
      .Ingredients ul li.Ingredient.potion-3 div span,
      .SelectedIngredients ul li.Ingredient.potion-3 div span {
        background-color: #ffd736; }
      .Ingredients ul li.Ingredient.dinosaur-skull div span,
      .SelectedIngredients ul li.Ingredient.dinosaur-skull div span {
        background-color: #8316ff; }
  .Ingredients button,
  .SelectedIngredients button {
    appearance: none;
    color: #fff;
    background-color: rgba(0, 255, 0, 0.85);
    font-size: 16px;
    border: none;
    border-radius: 2px;
    padding: 7.5px 20px; }

@keyframes bounce {
  0%, 100% {
    top: 0px; }
  50% {
    top: -10px; } }

/*# sourceMappingURL=Ingredients.css.map */
