/* VARIABLES + COLORS */

$pink: #ff378b;

$colors: (
  mask: #1eff9e,
  kitty: #ff363f,
  feathers : #b70a41,
  statue : #90f4ff,
  harp: #caff52,
  pyramid: #ff4833,
  palm-frond: #a9ff18,
  potion-1: #ff378b,
  egg: #3f88ff,
  diamond: #cca6ff,
  mirror: #28f0ff,
  crystals: #eb0fff,
  hour-glass: #ffa3f9,
  pineapple: #fde400,
  wheel: #fde400,
  potion-2: #ff9703,
  glasses: #71e439,
  bacon: #00eca1,
  potion-3: #ffd736,
  dinosaur-skull: #8316ff
);

@each $item, $color in $colors {
  .#{$item} div span,
  .genre-color-#{index($colors, ($item $color))} {
    transition: .75s;
    background-color: $color;
    &:hover {
      transition: .75s;
      background-color: adjust-hue($color, 10%);
    }   
  }
  // Tracks in Search Results
  .SearchResults {
    .Track.color-#{index($colors, ($item $color))} {
      h3 {
        color: lighten($color, 25%);
      }
      p {
        color: lighten(rgba(adjust-hue($color, -20%), .75), 15%);
      }
      .track-inclusion-action,
      .track-preview-action {
        transition: .25s;
        color: $color;
        background-color: rgba($color, 0); 
        &:hover {
          transition: .25s;
          color: #fff;
          background-color: rgba($color, 1); 
        }   
      }
    }
  }
  // Tracks in Manifest
  .app-selections {
    .Track.color-#{index($colors, ($item $color))} {
      background-color: darken($color, 20%);
      h3 {
        color: lighten($color, 35%);
      }
      p {
        color: lighten(rgba(adjust-hue($color, -20%), .75), 20%);
      }
      .track-inclusion-action,
      .track-preview-action {
        transition: .25s;
        color: lighten($color, 30%);
        background-color: rgba(#fff, 0); 
        &:hover {
          transition: .25s;
          color: rgba($color, 1); 
          background-color: lighten($color, 30%);
        }   
      }
    }
  }
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  position: relative;
  z-index: 1;
  height: 80px;
  color: $pink;
  background-color: darken($pink, 50%);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  padding: .77rem 0;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  .app-options {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100%;
    background-color: $pink;
    padding: 30px;
  }
  .app-selections {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 100%;
    background-color: #fcf;
    padding: 30px;
    .Playlist {
      width: 100%;
      padding: 0;
      .track-list {
        width: 100%;
        .Track {
          border-radius: 5px;
          margin: 0 0 5px 0;
        }
      }
    }
  }
  .App-playlist {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

/* GENRES */

.Genres,
.Items {
  display: flex;
  flex-direction: row;
  position: relative;
  ul {
    width: 90%;
    background-color: rgba(0, 0, 0, .65);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    li.Item {
      width: 20%;
      padding: 20% 0 0 0;
    }
  }
  button {
    transition: .25s;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    color: $pink;
    background-color: transparent;
    background-color: rgba(0, 0, 0, .65);
    border: none;
    border-left: 2px solid $pink;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0;
    cursor: pointer;
    outline: none;
    &:hover {
      color: lighten($pink, 30%);
      transition: .25s;
      background-color: rgba(0, 0, 0, .55);
    }
    svg.svg-inline--fa {
      width: 30%;
      height: 100%;
    }
  }
}

.SelectedGenres,
.SelectedItems {
  padding: 10px;
  ul {
    li.Item {
      width: 50%;
      padding: 50% 0 0 0;
    }
  }
}


.Genres,
.SelectedGenres {
  text-align: center;
  margin: 0 0 10px 0;
  h2 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  ul {
    list-style: none;
    li {
      transition: .25s;
      position: relative;
      display: inline-block;
      color: #fff;
      font-size: 21px;
      border-radius: 2px;
      margin: 5px;
      padding: 10px 30px;
      cursor: pointer;
      p {
        display: inline-block;
      }
      span {
        transition: .25s;
        position: absolute;
        top: 50%;
        right: 20px;
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 0;
        margin: -7.5px 0 0 0;
        opacity: 0;
        svg.svg-inline--fa {
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        transition: .25s;
        padding: 10px 40px 10px 20px;
        span {
          transition: .25s;
          right: 15px;
          opacity: 1;
        }
      }
    }
  }
}


.Items,
.SelectedItems {
  text-align: center;
  margin: 0 0 10px 0;
  h2 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    li.Item {
      position: relative;
      color: #fff;
      cursor: pointer;
      div {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px;
        span {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-align: center;
          border-radius: 4px;
          padding: 10px 0;
          img {
            position: relative;
            width: 75%;
            height: auto;
            margin: 0 0 5px 0;
          }
          p {
            font-size: 14px;
            &.description {
              transition: .25s;
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              max-width: 100px;
              color: #fff;
              background-color: rgba(0, 0, 0, .7);
              font-size: 12px;
            }
          }
        }
      }
      &:hover {
        div {
          span {
            img {
              animation: bounce 1s ease-in-out infinite;
            }
            p.description {
              transition: .25s ease-in;
              opacity: 1;
              top: -10px;
            }
          }
        }
      }
    }
  }
}

@keyframes bounce {
  0%, 100% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
}

.App-playlist {
  transition: .5s;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(255, 100, 200, .9);
  visibility: hidden;
  opacity: 0;
  &.active {
    transition: .5s;
    visibility: visible;
    opacity: 1;
  }
}

.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  padding: 30px;
  .Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    margin-top: 1.27rem;
    background-color: #6c41ec;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    &:hover {
      background-color: rgba(108, 65, 233, .7);
    }   
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.PreviewPlayer {
  display: none;
}

.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 37%;
  max-height: 950px;
  padding: 2.27rem 1.16rem;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  margin-top: 1.27rem;
  background-color: #6c41ec;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, .7);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}

.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, .65);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0 0 2px 0;
  padding: 10px;
}

.SearchBar input {
  padding: 15px 20px;
  color: #010c3f;
  font-size: 21px;
  border: none;
  border-radius: 3px;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar a { 
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
}

.SearchBar a:hover {
  background-color: rgba(108, 65, 233, .7);
}

.SearchResults {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    margin-bottom: 2rem;
  }
}

.Track {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: rgba(0, 0, 0, .65); 
  margin: 0 0 2px 0;
  .track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 120px);
    padding: 10px 20px;
    h3, 
    p { 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }   
    h3 {
      margin: 0 0 5px 0;
    }   
    p { 
      font-size: .83rem;
      font-weight: 300;
    }   
  }
  .track-preview-action,
  .track-inclusion-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 21px;
    line-height: 0;
    border-radius: 25px;
    margin: 0 10px 0 0;
    cursor: pointer;
    &.play {
      svg.stop {
        display: none;
      }   
    }   
    &.stop {
      svg.play {
        display: none;
      }   
    }   
    &.add {
      svg.remove {
        display: none;
      }   
    }   
    &.remove {
      svg.add {
        display: none;
      }
    }
  }
}

.TrackList {
  width: 100%;
}
