/* VARIABLES + COLORS */

$app-color: #1c4c4a;
$light-app-color: lighten($app-color, 30%);
$font: 'Work Sans';

$colors: (
  mask: #1eff9e,
  kitty: #ff363f,
  feathers : #b70a41,
  statue : #90f4ff,
  harp: #caff52,
  pyramid: #ff4833,
  palm-frond: #a9ff18,
  potion-1: #ff378b,
  egg: #3f88ff,
  diamond: #cca6ff,
  mirror: #28f0ff,
  crystals: #eb0fff,
  hour-glass: #ffa3f9,
  pineapple: #fde400,
  wheel: #fde400,
  potion-2: #ff9703,
  glasses: #71e439,
  bacon: #00eca1,
  potion-3: #ffd736,
  dinosaur-skull: #8316ff
);

@each $item, $color in $colors {
  // Genres and Items
  .#{$item} div span,
  .genre-color-#{index($colors, ($item $color))} {
    transition: .75s;
    background-color: $color;
    text-shadow: 0 0 4px rgba(darken($color, 15%), .5);
    &:hover {
      transition: .75s;
      background-color: adjust-hue($color, 10%);
      text-shadow: 0 0 4px rgba(adjust-hue(darken($color, 15%), 10%), .5);
    }   
  }
  // Tracks in Search Results and Playlist
  .SearchResults,
  .Playlist {
    .Track.color-#{index($colors, ($item $color))} {
      h3 {
        color: lighten($color, 25%);
      }
      p {
        color: lighten(rgba(adjust-hue($color, -20%), .75), 15%);
      }
      .track-inclusion-action,
      .track-preview-action {
        transition: .25s;
        color: $color;
        background-color: rgba($color, 0); 
        &:hover {
          transition: .25s;
          color: #fff;
          background-color: rgba($color, 1); 
        }   
      }
    }
  }
  // Tracks in Manifest
  .app-selections {
    .Track.color-#{index($colors, ($item $color))} {
      background-color: darken($color, 20%);
      h3 {
        color: lighten($color, 35%);
      }
      p {
        color: lighten(rgba(adjust-hue($color, -20%), .75), 20%);
      }
      .track-inclusion-action,
      .track-preview-action {
        transition: .25s;
        color: lighten($color, 30%);
        background-color: rgba(#fff, 0); 
        &:hover {
          transition: .25s;
          color: rgba($color, 1); 
          background-color: lighten($color, 30%);
        }   
      }
    }
  }
}

/* MIXINS */

@mixin app-logo {
  color: map-get($colors, kitty);
  font-size: 42px;
  margin: 0 0 20px 0;
  span {
    animation: color-cycle 5s linear infinite;
    &:nth-child(3n-1) {
      animation-delay: -1.25s;
    }
    &:nth-child(3n-2) {
      animation-delay: -2.5s;
    }
  }
  sup {
    content: "Beta";
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: super;
  }
}

@mixin app-button {
  transition: .25s;
  appearance: none;
  display: block;
  color: #fff;
  background-color: $app-color;
  font-family: $font, sans-serif;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 60px;
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  &:hover {
    transition: .25s;
    background-color: lighten($app-color, 5%);
  }
}

/* KEYFRAMES */

@keyframes bounce {
  0%, 100% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
}

@keyframes color-cycle {
  0%, 100% {color: map-get($colors, kitty);}
  25% {color: map-get($colors, pineapple);}
  50% {color: map-get($colors, mask);}
  75% {color: map-get($colors, statue);}
}

/* GENERAL */

* {
  font-family: $font, sans-serif;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: darken($app-color, 15%);
  text-align: center;
  font-family: $font, sans-serif;
  padding: 20px;
  h1 {
    @include app-logo;
  }
  a {
    transition: .25s;
    color: $app-color;
    cursor: pointer;
    &:hover {
      transition: .25s;
      color: lighten($app-color, 15%);
    }
  }
}

h2 {
  font-family: $font, sans-serif;
  font-size: 1.55rem;
}

.app-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: darken($app-color, 10%);
  font-family: $font, sans-serif;
  > span {
    display: block;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 30px;
    h1 {
      @include app-logo;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.25em;
      margin: 0 0 20px 0;
      span {
        font-weight: 500;
      }
    }
    .images {
      margin: 0 0 20px 0;
      span {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin: 0 7.5px;
        &.mask {
          background-color: map-get($colors, mask);
        }
        &.pineapple{
          background-color: map-get($colors, pineapple);
        }
        &.kitty {
          background-color: map-get($colors, kitty);
        }
        &.dinosaur-skull {
          background-color: map-get($colors, dinosaur-skull);
        }
        &.hour-glass {
          background-color: map-get($colors, hour-glass);
        }
        img {
          position: absolute;
          top: 15%;
          left: 15%;
          width: 70%;
          height: 70%;
        }
      }
    }
    button {
      @include app-button;
      margin: 0 auto;
    }
  }
}

.App {
  width: 100%;
  height: 100%;
  padding: 80px 0 0 0;
}

.app-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-family: $font, sans-serif;
  font-weight: 500;
  color: #fff;
  .app-options {
    position: relative;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    background-color: $app-color;
    padding: 30px;
  }
  .app-selections {
    position: relative;
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    background-color: darken($app-color, 10%);
    padding: 30px;
    > div {
      border-bottom: 1px solid $app-color;
      margin: 0 0 20px 0;
      padding: 0 0 20px 0;
      h2 {
        color: $light-app-color;
        font-size: 18px;
        margin: 0 0 10px 0;
      }
    }
    .SelectedItems {
      h2 {
        margin: 0 0 12.5px 0;
      }
    }
    .Playlist {
      width: 100%;
      h2 {
        margin: 0 0 5px 0;
      }
      .track-list {
        width: 100%;
        .Track {
          border-radius: 5px;
          margin: 10px 0 0 0;
        }
      }
    }
  }
  .App-playlist {
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(darken($app-color, 15%), .97);
    &.active {
      transition: .5s;
      visibility: visible;
      opacity: 1;
    }
    .empty-playlist {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 600px;
      height: 100%;
      text-align: center;
      margin: 0 auto;
      h1 {
        color: $light-app-color;
        font-size: 24px;
        margin: 0 0 30px 0;
      }
      p { 
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5em;
        margin: 0 0 30px 0;
      }
      button {
        @include app-button;
      }
    }
    .Playlist {
      position: relative;
      display: flex;
      flex-direction: row;
      button.close-playlist {
        position: absolute;
        top: 0;
        right: 0;
        appearance: none;
      }
      .track-list {
        width: 50%;
        height: 100%;
        overflow-y: scroll;
        padding: 0 15px 0 0;
      }
      .playlist-info {
        width: 50%;
        text-align: center;
        padding: 0 0 0 15px;
        h1 {
          font-size: 21px;
          margin: 0 0 10px 0;
          & + p {
            color: lighten($app-color, 15%);
            margin: 0 0 20px 0;
          }
        }
        h2 {
          font-size: 16px;
          font-weight: 300;
          line-height: 1.25rem;
          margin: 0 0 10px 0;
        }
        input {
          width: 100%;
          color: $app-color;
          background-color: #fff;
          font-family: $font, sans-serif;
          font-size: 1.5rem;
          border: 0;
          border-radius: 5px;
          outline: 0;
          margin: 0 0 20px 0;
          padding: 10px 20px;
        }
        > div {
          border-top: 1px solid $app-color;
          margin: 30px 0 0 0;
          > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgba($app-color, .5);
            border-radius: 5px;
            margin: 15px 0 0 0;
            padding: 15px;
            &:first-of-type {
              margin: 30px 0 0 0;
            }
            h2 {
              color: lighten($app-color, 30%);
              font-size: 14px;
              margin: 0;
            }
          }
        }
        .SelectedItems {
          ul {
            width: 50%;
            margin: 0 auto;
          }
        }
        button {
          @include app-button;
        }
      }
    }
  }
}

/* GENRES */

.Genres,
.Items {
  display: flex;
  flex-direction: row;
  position: relative;
  > span {
    display: block;
    width: 100%;
    height: 100%;
  }
  ul {
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    li.Item {
      width: 20%;
      padding: 20% 0 0 0;
    }
  }
  button {
    transition: .25s;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    color: $light-app-color;
    background-color: transparent;
    background-color: rgba(0, 0, 0, .65);
    border: none;
    border-left: 2px solid $app-color;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0;
    cursor: pointer;
    outline: none;
    &:hover {
      color: lighten($light-app-color, 20%);
      transition: .25s;
      background-color: rgba(0, 0, 0, .55);
    }
    svg.svg-inline--fa {
      width: 30%;
      height: 100%;
    }
  }
}

.maxed-out {
  > span {
    filter: grayscale(75%) brightness(.15);
  }
  .message {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 10px #000;
    h1 {
      color: $app-color;
      font-size: 21px;
      margin: 0 0 10px 0;
    }
  }
}


.Genres,
.SelectedGenres {
  text-align: center;
  margin: 0 0 10px 0;
  h2 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  ul {
    list-style: none;
    li {
      transition: .25s;
      position: relative;
      display: inline-block;
      color: #fff;
      font-size: 21px;
      border-radius: 2px;
      margin: 5px;
      padding: 10px 30px;
      cursor: pointer;
      p {
        display: inline-block;
      }
      span {
        transition: .25s;
        position: absolute;
        top: 50%;
        right: 20px;
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 0;
        margin: -7.5px 0 0 0;
        opacity: 0;
        svg.svg-inline--fa {
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        transition: .25s;
        padding: 10px 40px 10px 20px;
        span {
          transition: .25s;
          right: 15px;
          opacity: 1;
        }
      }
    }
  }
}


.Items,
.SelectedItems {
  text-align: center;
  margin: 0 0 10px 0;
  h2 {
    color: #fff;
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  ul {
    list-style: none;
    line-height: 0;
    li.Item {
      position: relative;
      display: inline-block;
      height: 100%;
      color: #fff;
      cursor: pointer;
      div {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px;
        span {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-align: center;
          border-radius: 4px;
          padding: 10px 0;
          img {
            position: relative;
            width: 75%;
            height: auto;
            margin: 0 0 5px 0;
          }
          svg {
            transition: .25s;
            opacity: 0;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 15px;
            height: 15px;
          }
          p {
            font-size: 14px;
          }
        }
      }
      &:hover {
        div {
          span {
            img {
              animation: bounce 1s ease-in-out infinite;
            }
            svg {
              transition: .25s;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.SelectedGenres,
.SelectedItems {
  ul {
    li.Item {
      width: 50%;
      margin: 0 auto;
      padding: 50% 0 0 0;
      &:last-of-type {
        div {
          padding: 2.5px 0 2.5px 5px;
        }
      }
      &:first-of-type {
        div {
          padding: 2.5px 5px 2.5px 0;
        }
      }
    }
  }
}

.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  padding: 30px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.PreviewPlayer {
  display: none;
}

.get-mixtape {
  @include app-button;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.SearchBar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 2px 0;
  padding: 0 120px 0 0;
  .input-container {
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 0, .65);
    border-top-left-radius: 5px;
    padding: 10px;
    input {
      display: block;
      width: 100%;
      color: #010c3f;
      font-size: 21px;
      border: none;
      border-radius: 3px;
      padding: 15px 20px;
      &:focus {
        outline: none;
      }
    }
  }
  a {
    transition: .25s;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
    color: $light-app-color;
    background-color: rgba(0, 0, 0, .65);
    font-size: .833rem;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-left: 2px solid $app-color;
    padding: 0 30px;
    cursor: pointer;
    &:hover {
      color: lighten($light-app-color, 20%);
      transition: .25s;
      background-color: rgba(0, 0, 0, .55);
    }
  }
  &.no-search-results {
    .input-container {
      border-bottom-left-radius: 5px;
    }
    a {
      border-bottom-right-radius: 5px;
    }
  }
}

.SearchResults {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    margin-bottom: 2rem;
  }
}

.Track {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: rgba(0, 0, 0, .65); 
  margin: 0 0 2px 0;
  .track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 120px);
    padding: 10px 20px;
    h3, 
    p { 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }   
    h3 {
      margin: 0 0 5px 0;
    }   
    p { 
      font-size: .83rem;
      font-weight: 300;
    }   
  }
  .track-preview-action,
  .track-inclusion-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 21px;
    line-height: 0;
    border-radius: 25px;
    margin: 0 10px 0 0;
    cursor: pointer;
    &.play {
      svg.stop {
        display: none;
      }   
    }   
    &.stop {
      svg.play {
        display: none;
      }   
    }   
    &.add {
      svg.remove {
        display: none;
      }   
    }   
    &.remove {
      svg.add {
        display: none;
      }
    }
  }
}

.TrackList {
  width: 100%;
}
