* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  position: relative;
  z-index: 1;
  height: 80px;
  color: #fff;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  padding: .77rem 0;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.app-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #ff378b;
  padding: 110px 30px 30px 30px;
}

.app-selections {
  position: absolute;
  top: 0;
  left: 70%;
  width: 30%;
  height: 100%;
  background-color: #fcf;
  padding: 110px 30px 30px 30px;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
