@media (max-width: 480px) {
  .app-intro {
    display: block;
    height: auto; }

  .App {
    padding: 38px 0 0 0; }
    .App header {
      height: 38px;
      padding: 10px; }
      .App header h1 {
        font-size: 18px; }
        .App header h1 sup {
          font-size: 8px; }
    .App .app-content {
      display: block;
      height: auto; }
      .App .app-content .app-options {
        width: 100%;
        height: auto;
        padding: 10px; }
        .App .app-content .app-options .Genres ul,
        .App .app-content .app-options .Items ul {
          width: 85%;
          padding: 2.5px; }
        .App .app-content .app-options .Genres button,
        .App .app-content .app-options .Items button {
          width: 15%; }
        .App .app-content .app-options .Genres.maxed-out .message,
        .App .app-content .app-options .Items.maxed-out .message {
          padding: 10px; }
          .App .app-content .app-options .Genres.maxed-out .message h1,
          .App .app-content .app-options .Genres.maxed-out .message p,
          .App .app-content .app-options .Items.maxed-out .message h1,
          .App .app-content .app-options .Items.maxed-out .message p {
            font-size: 12px; }
        .App .app-content .app-options .Genres ul li {
          font-size: 12px;
          margin: 2.5px;
          padding: 5px 10px; }
        .App .app-content .app-options .Items ul li {
          width: 33.33%;
          padding: 33.33% 0 0 0; }
          .App .app-content .app-options .Items ul li:nth-child(4), .App .app-content .app-options .Items ul li:nth-child(5) {
            display: none; }
          .App .app-content .app-options .Items ul li div {
            padding: 2.5px; }
          .App .app-content .app-options .Items ul li p {
            font-size: 8px; }
        .App .app-content .app-options .SearchBar {
          padding: 0 15% 0 0; }
          .App .app-content .app-options .SearchBar .input-container input {
            font-size: 12px;
            padding: 10px; }
          .App .app-content .app-options .SearchBar a {
            width: 15%;
            font-size: 8px;
            padding: 0; }
      .App .app-content .Track {
        height: 60px; }
        .App .app-content .Track .track-information {
          padding: 0 10px; }
          .App .app-content .Track .track-information h3 {
            font-size: 14px;
            margin: 0 0 2.5px 0; }
          .App .app-content .Track .track-information p {
            font-size: 12px; }
        .App .app-content .Track a.track-preview-action,
        .App .app-content .Track a.track-inclusion-action {
          font-size: 14px;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          margin: 0 5px 0 0; }
      .App .app-content .app-selections {
        width: 100%;
        height: auto;
        padding: 10px; }
        .App .app-content .app-selections > div h2 {
          font-size: 14px; }
        .App .app-content .app-selections .SelectedGenres ul li {
          font-size: 14px;
          padding: 7.5px 15px; }
        .App .app-content .app-selections .SelectedItems ul li {
          width: 33.33%;
          padding: 33.33% 0 0 0; }
      .App .app-content .App-playlist .Playlist {
        display: block;
        padding: 10px; }
        .App .app-content .App-playlist .Playlist button.close-playlist {
          top: 10px;
          right: 10px; }
          .App .app-content .App-playlist .Playlist button.close-playlist svg {
            width: 20px;
            height: 20px; }
        .App .app-content .App-playlist .Playlist .track-list,
        .App .app-content .App-playlist .Playlist .playlist-info {
          width: 100%;
          height: auto;
          padding: 0; }
        .App .app-content .App-playlist .Playlist .playlist-info {
          padding: 20px 0; }
          .App .app-content .App-playlist .Playlist .playlist-info h1 {
            font-size: 16px;
            margin: 0 0 10px 0; }
          .App .app-content .App-playlist .Playlist .playlist-info input {
            font-size: 16px;
            border-radius: 3px;
            padding: 15px; } }

/*# sourceMappingURL=mobile.css.map */
