@import 'variables';

@media (max-width: $breakpoint-mobile) {
  .app-intro {
    display: block;
    height: auto;
  }

  .App {
    padding: $mobile-header-height 0 0 0;
    header {
      height: $mobile-header-height;
      padding: $unit;
      h1 {
        font-size: $type-large;
        sup {
          font-size: 8px;
        }
      }
    }

    .mobile-toggle {
      display: block;
      background-color: darken($app-color, 7.5%);
      a {
        display: inline-block;
        width: 50%;
        color: $light-app-color;
        font-family: $font, sans-serif;
        font-size: $type-base;
        text-align: center;
        line-height: $unit*2;
        padding: $unit;

        &.active {
          color: lighten($light-app-color, 35%);
          background-color: darken($app-color, 5%);
        }

        p {
          display: inline-block;
        }

        span {
          display: inline-block;
          width: $unit*2;
          height: $unit*2;
          color: #fff;
          background-color: $light-app-color;
          font-size: $unit;
          line-height: $unit*2;
          vertical-align: middle;
          border-radius: $unit;
          margin: 0 0 0 $unit;
        }
      }
    }

    .app-content {
      display: table;
      height: auto;
      min-height: calc(100% - #{$mobile-header-height});

      .app-options {
        display: none;
        width: 100%;
        height: auto;
        padding: $unit;

        &.active {
          display: table-cell;
        }

        .Genres,
        .Items {

          ul {
            width: 85%;
            padding: $unit/4;
          }

          button {
            width: 15%;

             svg {
               height: auto;
             }
          }

          &.maxed-out {
            .message {
              padding: $unit;
              h1,
              p {
                font-size: 12px;
              }
            }
          }
        }

        .Genres {
          ul {
            li {
              font-size: 12px;
              margin: $unit/4;
              padding: $unit/2 $unit;
            }
          }
        }

        .Items {
          ul {
            li {
              width: 33.33%;
              padding: 33.33% 0 0 0;

              &:nth-child(4),
              &:nth-child(5) {
                display: none;
              }

              div {
                padding: $unit/4;
              }

              p {
                font-size: 8px;
              }
            }
          }
        }

        .SearchBar {
          padding: 0 15% 0 0;
          .input-container {
            input {
              font-size: 12px;
              padding: $unit;
            }
          }

          a {
            width: 15%;
            font-size: 8px;
            padding: 0;
          }
        }
      }

      .Track {
        height: $unit*6;
        .track-information {
          padding: 0 $unit;
          h3 {
            font-size: $type-base;
            margin: 0 0 $unit/4 0;
          }
          
          p {
            font-size: 12px;
          }
        }

        a.track-preview-action,
        a.track-inclusion-action {
          font-size: $type-base;
          width: $unit*3;
          height: $unit*3;
          border-radius: $unit*1.5;
          margin: 0 $unit/2 0 0;
        }
      }
      
      .app-selections {
        display: none;
        width: 100%;
        height: auto;
        padding: $unit;

        &.active {
          display: table-cell;
        }

        > div {
          h2 {
            font-size: $type-base;
          }
        }

        .SelectedGenres {
          ul {
            li {
              font-size: $type-base;
              padding: $unit*.75 $unit*1.5;
            }
          }
        }

        .SelectedItems {
          ul {
            li {
              width: 33.33%;
              padding: 33.33% 0 0 0;
            }
          }
        }
      }

      .App-playlist {
        .Playlist {
          display: block;
          padding: $unit;

          button.close-playlist {
            top: $unit;
            right: $unit;

            svg {
              width: $unit*2;
              height: $unit*2;
            }
          }

          .track-list,
          .playlist-info {
            width: 100%;
            height: auto;
            padding: 0;
          }

          .playlist-info {
            padding: $unit*2 0;

            h1 {
              font-size: $type-medium;
              margin: 0 0 $unit 0;
            }

            input {
              font-size: $type-medium;
              border-radius: $unit/2;
              padding: $unit*1.5;
            }
          }
        }
      }
    }
  }
}
