@import 'variables';

@media (max-width: $breakpoint-tablet) {
  .App {
    background-color: darken($app-color, 10%);

    header {
      height: $tablet-header-height;
      padding: $unit;
      a {
        font-size: $type-medium;
        line-height: $tablet-header-height;
      }
    }

    .mobile-toggle {
      display: block;
      background-color: darken($app-color, 7.5%);
      a {
        display: inline-block;
        width: 50%;
        color: $light-app-color;
        font-family: $font, sans-serif;
        font-size: $type-large;
        text-align: center;
        line-height: $unit * 2.5;
        padding: $unit;

        &.active {
          color: lighten($light-app-color, 35%);
          background-color: darken($app-color, 5%);
        }

        p {
          display: inline-block;
        }

        span {
          display: inline-block;
          width: $unit * 2.5;
          height: $unit * 2.5;
          color: #fff;
          background-color: $light-app-color;
          font-size: $type-base;
          line-height: $unit * 2.5;
          vertical-align: middle;
          border-radius: $unit * 1.25;
          margin: 0 0 0 $unit * 1.25;
        }
      }
    }

    .app-content {
      display: block;
      height: auto;
      min-height: calc(100% - #{$header-height});

      .app-options {
        display: none;
        width: 100%;
        height: auto;
        background-color: darken($app-color, 10%);
        padding: $unit * 2;

        &.active {
          display: block;
        }

        .Genres,
        .Items {
          ul {
            width: 85%;
          }

          button {
            width: 15%;

            svg {
              height: auto;
            }
          }

          &.maxed-out {
            .message {
              padding: $unit;
              h1 {
                font-size: $type-medium;
              }
              p {
                font-size: $type-base;
              }
            }
          }
        }

        .Genres {
          ul {
            li {
              font-size: $type-large;
            }
          }
        }

        .Items {
          ul {
            li {
              width: 25%;
              padding: 25% 0 0 0;

              &:nth-child(5) {
                display: none;
              }

              p {
                font-size: $type-base;
              }
            }
          }
        }

        .SearchBar {
          padding: 0 15% 0 0;
          .input-container {
            input {
              font-size: $type-large;
              padding: $unit * 1.25 $unit * 1.5;
            }
          }

          a {
            width: 15%;
            font-size: $type-small;
            padding: 0;
          }
        }
      }

      .Track {
        .track-information {
          width: calc(100% - (#{$unit}* 9.5));
        }

        a.track-preview-action,
        a.track-inclusion-action {
          font-size: $type-large;
          width: $unit * 4;
          height: $unit * 4;
          border-radius: $unit * 2;
          margin: 0 $unit * 0.75 0 0;
        }
      }

      .app-selections {
        display: none;
        width: 100%;
        height: auto;
        padding: $unit * 2 $unit * 2 $unit * 4 $unit * 2;

        &.active {
          display: block;
        }

        > div {
          h2 {
            font-size: $type-medium;
          }
        }

        .SelectedGenres {
          ul {
            li {
              font-size: $type-large;
            }
          }
        }

        .SelectedItems {
          ul {
            li {
              width: 33.33%;
              padding: 33.33% 0 0 0;
            }
          }
        }
      }

      .App-playlist {
        .empty-playlist {
          padding: $unit * 2;
        }

        .Playlist {
          display: block;
          padding: $unit * 2;

          button.close-playlist {
            top: $unit * 1.5;
            right: $unit * 1.5;

            svg {
              width: $unit * 2;
              height: $unit * 2;
            }
          }

          .track-list,
          .playlist-info {
            width: 100%;
            height: auto;
            padding: 0;
          }

          .playlist-info {
            padding: $unit * 2 0;

            h1 {
              font-size: $type-large;
            }

            input {
              max-width: $unit * 60;
              font-size: $type-xlarge;
              border-radius: $unit/2;
              padding: $unit * 1.5;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .app-intro {
    display: block;
    min-height: 100%;
    height: auto;

    > span {
      .images {
        span {
          position: relative;
          display: inline-block;
          width: $unit * 4;
          height: $unit * 4;
          border-radius: $unit * 2;
          margin: 0 $unit * 0.5;
        }
      }
    }
  }

  .App {
    padding: $mobile-header-height 0 0 0;
    header {
      height: $mobile-header-height;
      padding: $unit;
      h1 {
        font-size: 30px;
        text-align: left;
        sup {
          font-size: $type-tiny;
        }
      }
      a {
        font-size: $type-base;
        line-height: $mobile-header-height;
      }
    }

    .mobile-toggle {
      a {
        font-size: $type-medium;
        line-height: $unit * 2;
        padding: $unit;

        span {
          width: $unit * 2;
          height: $unit * 2;
          font-size: $unit;
          line-height: $unit * 2;
          border-radius: $unit;
        }
      }
    }

    .app-content {
      min-height: calc(100% - #{$mobile-header-height});

      .app-options {
        padding: $unit;

        .Genres,
        .Items {
          &.maxed-out {
            .message {
              padding: $unit;
              h1,
              p {
                font-size: $type-small;
              }
            }
          }
        }

        .Genres {
          ul {
            li {
              font-size: $type-medium;
              padding: $unit * 0.75 $unit;
            }
          }
        }

        .Items {
          ul {
            li {
              width: 33.33%;
              padding: 33.33% 0 0 0;

              &:nth-child(4) {
                display: none;
              }

              p {
                font-size: $type-small;
              }
            }
          }
        }

        .SearchBar {
          .input-container {
            input {
              font-size: $type-medium;
              padding: $unit;
            }
          }

          a {
            font-size: $type-tiny;
          }
        }
      }

      .Track {
        height: $unit * 6;
        .track-information {
          width: calc(100% - (#{$unit}* 7));
          padding: 0 $unit;
          h3 {
            font-size: $type-medium;
            margin: 0 0 $unit/4 0;
          }

          p {
            font-size: $type-base;
          }
        }

        a.track-preview-action,
        a.track-inclusion-action {
          font-size: $type-base;
          width: $unit * 3;
          height: $unit * 3;
          border-radius: $unit * 1.5;
          margin: 0 $unit/2 0 0;
        }
      }

      .app-selections {
        padding: $unit $unit $unit * 3 $unit;

        > div {
          h2 {
            font-size: $type-base;
          }
        }

        .SelectedGenres {
          ul {
            li {
              font-size: $type-medium;
              padding: $unit * 0.75 $unit;
            }
          }
        }
      }

      .App-playlist {
        .empty-playlist {
          padding: $unit;
        }

        .Playlist {
          padding: $unit;

          button.close-playlist {
            top: $unit;
            right: $unit;
          }

          .playlist-info {
            h1 {
              font-size: $type-medium;
              margin: 0 0 $unit 0;
            }

            input {
              font-size: $type-medium;
            }
          }
        }
      }
    }
  }
}
